<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (fichePresence) {
      <div>
        <h2 data-cy="fichePresenceDetailsHeading"><span>Fiche Presence</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ fichePresence.id }}</span>
          </dd>
          <dt><span>Libelle</span></dt>
          <dd>
            <span>{{ fichePresence.libelle }}</span>
          </dd>
          <dt><span>Date Jour</span></dt>
          <dd>
            <span>{{ fichePresence.dateJour | formatMediumDatetime }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ fichePresence.description }}</span>
          </dd>
          <dt><span>Code Evenement</span></dt>
          <dd>
            <span>{{ fichePresence.codeEvenement }}</span>
          </dd>
          <dt><span>Code Type Evenement</span></dt>
          <dd>
            <span>{{ fichePresence.codeTypeEvenement }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/fiche-presence', fichePresence.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
